.posts-list{
  background-color: antiquewhite;
  padding: 0;
}
.posts-list-item{
  margin: 20px;
  padding: 0px;
}
.posts-list-creator{
  font-size: 20px;
  text-decoration: none;
  color: black;
}
.posts-list-title{
  display: block;
  text-decoration: none;

}